.ModuloBlocoNotas {
    margin: 0 auto;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.ModuloBlocoNotas main {
    flex-grow: 1;
}

.ModuloBlocoNotas main ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    list-style: none;
}

@media (max-width: 1400px) {
    .ModuloBlocoNotas main ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px) {
    .ModuloBlocoNotas main ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .ModuloBlocoNotas main ul {
        grid-template-columns: 1fr;
    }
}