.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(30, 41, 59, 0.65); /* Azul escuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    backdrop-filter: blur(2px);
    transition: background 0.3s;
}

.modal {
    background: #fff;
    padding: 32px 28px;
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(30, 41, 59, 0.18), 0 1.5px 6px rgba(0,0,0,0.08);
    text-align: left;
    max-width: 600px;
    width: 92%;
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
    transition: box-shadow 0.3s, transform 0.2s;
    animation: modalFadeIn 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes modalFadeIn {
    from { opacity: 0; transform: translateY(40px) scale(0.97);}
    to { opacity: 1; transform: translateY(0) scale(1);}
}

.modal h3{
  font-weight: 600;
  padding-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 32px;
}

.confirm, .cancel {
    min-width: 100px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.18s, color 0.18s, box-shadow 0.18s;
    box-shadow: none;
    outline: none;
}

.confirm {
    background: #2575fc;
    color: #fff;
    border: 1px solid #2575fc;
}

.confirm:hover, .confirm:focus {
    background: #0549be;
    border-color: #0549be;
}

.cancel {
    background: transparent;
    color: #323130;
    border: 1px solid #c8c6c4;
}

.cancel:hover, .cancel:focus {
    background: #f3f2f1;
    color: #0549be;
    border-color: #0549be;
}

/* Tema Escuro */
:global(.theme-dark) .overlay {
    background: rgba(30, 41, 59, 0.50); /* Azul escuro translúcido */
}

:global(.theme-dark) .modal {
    background: #1e293b; /* Azul escuro */
    color: #f8fafc; /* Branco suave */
    border: solid 1px #334155; /* Azul mais escuro */
    box-shadow: 0 8px 32px rgba(30, 41, 59, 0.18), 0 1.5px 6px rgba(0,0,0,0.08);
}

:global(.theme-dark) .confirm {
    background: #3b82f6; /* Azul claro */
    color: #fff;
}

:global(.theme-dark) .confirm:hover, .confirm:focus {
    background: #2563eb; /* Azul mais escuro */
}

:global(.theme-dark) .cancel {
    background: transparent;
    color: #d1d5db; /* Cinza claro */
    border: 1px solid #4b5563; /* Cinza escuro */
}

:global(.theme-dark) .cancel:hover, .cancel:focus {
    background: #374151; /* Cinza mais escuro */
    color: #fff;
    border-color: #2563eb; /* Azul mais escuro */
}
