.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #1e293ba6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    backdrop-filter: blur(2px);
    transition: background 0.3s;
}

.modal {
    background: #fff;
    padding: 32px 28px;
    border-radius: 16px;
    text-align: left;
    max-width: 600px;
    width: 92%;
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
    transition: box-shadow 0.3s, transform 0.2s;
    animation: modalFadeIn 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes modalFadeIn {
    from { opacity: 0; transform: translateY(40px) scale(0.97);}
    to { opacity: 1; transform: translateY(0) scale(1);}
}

.modal h3{
  font-weight: 600;
  padding-bottom: 20px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 32px;
}

.confirm, .cancel {
    min-width: 100px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.18s, color 0.18s, box-shadow 0.18s;
    box-shadow: none;
    outline: none;
}

.confirm {
    background: var(--ligthThemeColor01);
    color: #fff;
    border: none;
}

.confirm:hover, .confirm:focus {
    background: var(--ligthThemeColor02);
}

.cancel {
    background: transparent;
    color: #323130;
    border: 1px solid #c8c6c4;
}

.cancel:hover, .cancel:focus {
    color: var(--ligthThemeColor01) !important;
    border-color: var(--ligthThemeColor01);
}



/* Tema Escuro baseado em classe no body */
:global(.theme-dark) .overlay {
    background: #000000cc;
}

:global(.theme-dark) .modal {
    background: var(--darkThemeColor00);
    color: #f8fafc;
    border: solid 1px var(--darkThemeColor01);
}

:global(.theme-dark) .cancel {
    color: #f8fafc;
}
