.notepadInfos div {
    display: flex;
    justify-content: space-between;
}

.notepadInfos {
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 20px 10px 20px;
    height: 225px;
    max-height: 225px;
}

.notepadInfos strong{
    display: block;
    color: #333;
    font-size: 16px;
}

.notepadInfos div div {
    color: #c4c4c4;
    cursor: pointer;
    font-size: 18px;
}

.notepadInfos div div:hover {
    color: #eb8f7a;
    transition: 0.2s;
    font-size: 22px;
}

.notepadInfos textarea {
    padding: 7px;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 100%;
    height: 130px;
    font-size: 14px;
    color: #666;
    border: 0;
    background: #fff;
    resize: none;
}

.notepadInfos span {
    color: #c4c4c4;
    cursor: pointer;
    font-size: 20px;
}

.notepadInfos span:hover {
    color: #eb8f7a;
    transition: 0.2s;
    font-size: 25px;
}