/*--componentes externos--*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
    font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}
li {
	list-style: none;
}

:root {
    /* tema claro */
    --ligthThemeColor01: #2575fc; /* azul para botões */
    --ligthThemeColor02: #6a11cb; /* roxo para hover em botões */
    --ligthThemeColor03: #e8e8fa; /* roxo claro para componentes */
    --ligthThemeColor04: #d1d1fa; /* roxo claro 2 para hover em componentes */

    /* tema escuro */
    --darkThemeColor01: #1e293b; /* azul escuro para background em cabeçalhos */
    --darkThemeColor02: #334155; /* azul escuro para bordas cabeçalhos */
    --darkThemeColor03: #282829; /* cinza escuro para componentes */
    --darkThemeColor04: #3a3a3a; /* cinza médio para hover em componentes */
    --darkThemeColor05: #23243a; /*em uso */
}

.App{
	padding: 0 0 0 0;
}

/* Tema Escuro */
@media (prefers-color-scheme: dark) {
    body {
        background: #000;
    }
}